@page
@model GameHub.Pages.AddGameModel
@{
	ViewData["Title"] = "Add game";
}

<!-- Page made by Philip -->

<form method="post" class="container-fluid d-flex flex-column justify-content-center align-content-center w-100 h-100">
	<h1 class="text-white text-center">
		Add Game to your labary
	</h1>
	<div class="container mt-4">
		<div class="container border-2 local-border-color d-flex justify-content-between local-bg-color-element py-2">
			<p class="m-0 text-black">Game Name</p>
			<img src="/img/x.svg" style="width: 1.5em; height: 1.5em;" />
		</div>

		<div class="container local-border-color d-flex justify-content-center align-items-center p-3 local-button-color">
			@*<label asp-for="@Model.Game.Name" class="control-label"></label>*@
			<input asp-for="@Model.Game.Name" class="w-100 h-100 local-input" style="font-size:1.5rem" />
			<span asp-validation-for="@Model.Game.Name" class="text-danger"></span>
		</div>
	</div>

	<div class="container mt-4">
		<div class="container border-2 local-border-color d-flex justify-content-between local-bg-color-element py-2">
			<p class="m-0 text-black">Time Played</p>
			<img src="/img/x.svg" style="width: 1.5em; height: 1.5em;" />
		</div>

		<div class="container local-border-color d-flex justify-content-center align-items-center p-3 local-button-color">
			@*<label asp-for="@Model.Game.Timeplayed" class="control-label"></label>*@
			<input asp-for="@Model.Game.Timeplayed" class="w-100 h-100 local-input" style="font-size:1.5rem" />
			<span asp-validation-for="@Model.Game.Timeplayed" class="text-danger"></span>
		</div>
	</div>

	<div class="d-flex justify-content-center mt-4">
		<input type="submit" value="Create" class="border-0 d-flex justify-content-between local-bg-color-element p-3" />
	</div>


</form>